footer {
  background-color: rgb(207, 207, 207);
  color: black;
  /*top/bottom left/right*/
  /*top right bottom left*/
  padding: 70px 50px;
  margin-top: 60px;
}

footer p {
  font-size: 20px;
  font-weight: 700;
}
